/* 메인 베너 페이지네이션 */
.swiper-pagination-bullet.custom-bullet {
  width: 100px;
  height: 5px;
  background-color: white;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet-active.custom-bullet {
  background-color: #0a0a0a;
}

/* 네비게이션 버튼 */
.swiper-button-prev,
.swiper-button-next {
  background-color: #171717;
  margin: 0 40px 0 40px;
  border-radius: 50%;
  color: white !important;
  width: 50px !important;
  height: 50px !important;
}

/* 화살표 아이콘 스타일 */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

/* Tablet */
@media screen and (max-width: 1023px) {
  .swiper-pagination-bullet.custom-bullet {
    width: 60px;
    height: 4px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px !important;
    height: 40px !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1rem !important;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet.custom-bullet {
    width: 40px;
    height: 3px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px !important;
    height: 30px !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 0.8rem !important;
  }
}
